
.progressDashboard {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 60vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #59687d;
    margin-bottom: 10px;
}

.workTimer {
    flex: 1;
    background: #1b2330;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
}

.workTimer h3 {
    margin: 0;
    display: flex;
}

.countdownWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.countdownItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.countdownSvg {
    margin-bottom: 10px;
}

.tasks {
    flex: 1;
    background: #1b2330;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.taskInputBar input {
    height: 32px;
    width: 225px;
    background-color: #1b1f2a;    
    border-color: lightgray;
    color: white;
    border-radius: 2px;
    margin-right: 5px;
    border-style: solid;
    border-width: 1px;
}

.taskInputBar button {
    height: 32px;
    width: 30px;
    border-radius: 2px;
    border-color: transparent;
}

.taskTable {
    height: 32px;
    width: 260px;
    border-radius: 2px;
    background-color: #f2f2f2; 
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    position: relative;
}

.taskTable button {
    visibility: hidden;
    background-color: red;
    border: none;
    position: absolute;
    height: 100%;
    right: 0;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.taskTable p {
    margin-left: 10px;
}

.taskTable:hover button {
    visibility: visible; 
}

.moodTracker {
    flex: 1;
    background: #1b2330;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
}

.moodTracker h3 {
    margin: 0;
}

.moodChoices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.moodChoices button {
    height: 35px;
    width: 75px;
    margin: 5px;
    font-size: .75rem;
    border: none;
}

.StressedMood {
    background-color: black;
    color: white;
}

.SadMood {
    background-color: blue;
    color: white;
}

.ChillMood {
    background-color: aquamarine;
}

.NeutralMood {
    background-color: white;
}

.EnergeticMood {
    background-color: orange;
}

.HappyMood {
    background-color: yellow;
}

.MotivatedMood {
    background-color: green;
}

.AngryMood {
    background-color: red;
}

.moodForToday {
    display: flex;
    justify-content: center;
}

.moodsOverview {
    display: flex;
    flex-direction: column;
}

.moodsOverview button  {
    width: 100px;
    height: 20px;
    margin: 5px;
}

.moodsOverview p {
    margin: 5px;
    align-self: center;
}

.moodHistory {
    display: flex;
    flex-direction: row;
    min-width: 20px;
    max-width: 250px;
    margin: 5px;
    overflow-x: auto;
}

.pastMood {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.motivation {
    flex: 0.5;
    background: #1b2330;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.motivation button {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: solid;
}