* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0d1218;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  margin: 0;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 50vh;
  max-height: 80vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #59687d;
  overflow: auto;
  margin-bottom: 10px;
}

.logo-block {
  flex: 0.5;
  background: #1b2330;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.logo-block img {
  object-fit: cover;
}

.dashboard p {
  margin-top: 0;
}

.overview-block {
  flex: 1;
  background: #1b2330;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 4px;
}

.secondBlock {
  flex: 1;
  background: #1b2330;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 4px;
}

.thirdBlock {
  flex: 1;
  background: #1b2330;
  padding: 1rem;
  border-radius: 4px;
  margin-top: 1rem;
}

.logoImage {
  width: 100%;
  height: 80%;
  border-radius: 8px;
  object-fit: cover;
}

.logoTitle h3 {
  margin: 0;
}

.dropDownMenu {
  border-radius: 3px;
  width: 200px;
  margin: 5px;
}

.addButton {
  width: 150px;
  height: 20;
  border-radius: 6px;
}

.removeButton {
  margin-top: 7px;
  margin-left: 7px;
}

/* weather styles */

.weather-overview-block {
  position: relative;
  flex: 1;
  background: #1b2330;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  z-index: 1;
}

.weatherContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 85%;
  background-color: #d0dfec;
  border-radius: 10px;
  z-index: -1;
}

.searchBox {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.searchBox input {
  width: 125px;
}


.searchBox button:hover {
  color: #fff;
  background: #06283D;
}

.weatherBox {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 0 2px white;  
}

.weatherImage {
  max-width: 80%;
  max-height: 60%;
  object-fit: contain;
  position: absolute;
  top: 15%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.weatherLocation {
  font-size: 1rem;
  font-weight: bolder;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); 
}

.weatherDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  margin-left: 7px;
}

.forecast {
  font: 600;
  z-index: 3;
  font-weight: bold;
}

.forecastBlock{
  flex: 2;
  background: #1b2330;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 4px;
}

.forecast {
  display: flex; 
  gap: 10px; 
}

.forecastDate {
  font-size: xx-large;
  color: aqua;
  width: 300px;
  height: 300px;
}
.forecastCard {
  border: 1px solid #ccc;
  margin-top: 5px;
  padding: 10px;
  width: 20%;
  height: 200px;
  box-sizing: border-box;
  text-align: center;
}

@keyframes fadeIn {
  to {
      scale: 1;
      opacity: 1;
  }
}
