.twitchDashboard {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 50vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #59687d;
    margin-bottom: 10px;
}

.twitchLogoBlock {
    flex: 0.5;
    background: #1b2330;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}

.logoImage {
    width: 100%;
    height: 80%;
    border-radius: 8px;
}

.twitchOverviewBlock {
    flex: 1;
    background: #1b2330;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
}

.profileImage {
   width: 200px;
   height: 100px;
   border-radius: 10px;
}

.gameBuzzList {
    display: flex;
    justify-content: center;
    flex: 1;
    background: #1b2330;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    overflow-y: auto;
}

.gameImage {
    margin-top: 2px; 
    margin-left: 5px;
}